.city {
    background-color: lightgray;
    margin: 10px;
}

Button {
    background-color: grey;
    color: white;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.cities {
    cursor: pointer;
}